@model IEnumerable<AppVendasWeb.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="display-5 text-light my-5">Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-success d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PlusLg" width="15" height="15" aria-label="Alarms"></svg>
        Adicionar
    </a>
</p>

<div class="table-responsive">
    <table class="table table-dark table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                    </td>
                    <td class="text-end">
                    <td>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.ProdutoId">
                            <svg class="me-2" bootstrap-icon="Pencil" width="15" height="15" aria-label="Alarms"></svg>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.ProdutoId">
                            <svg class="me-2" bootstrap-icon="CardList" width="15" height="15" aria-label="Alarms"></svg>
                            Detalhes
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProdutoId">
                            <svg class="me-2" bootstrap-icon="Trash" width="15" height="15" aria-label="Alarms"></svg>
                            Excluir
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
