@model IEnumerable<AppVendasWeb.Models.ItemDaVenda>

@{
    ViewData["Title"] = "Itens da Venda";
}

<h1 class="display-5 text-light my-4">ITENS DA VENDA</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["VendaId"]" class="btn btn-lg btn-outline-success d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PlusLg" width="15" height="15" aria-label="Alarms"></svg>
        Adicionar
    </a>
</p>
<div class="table-responsive">
    <table class="table table-info table-striped table-hover opacity-40">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td class="text-end">
                    <td>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.ItemDaVendaID">
                            <svg class="me-2" bootstrap-icon="Pencil" width="15" height="15" aria-label="Alarms"></svg>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.ItemDaVendaID">
                            <svg class="me-2" bootstrap-icon="CardList" width="15" height="15" aria-label="Alarms"></svg>
                            Detalhes
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ItemDaVendaID">
                            <svg class="me-2" bootstrap-icon="Trash" width="15" height="15" aria-label="Alarms"></svg>
                            Excluir
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>