@model IEnumerable<AppVendasWeb.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="display-5 text-light my-5">VENDAS  <svg class="me-2" bootstrap-icon="CartCheckFill" width="50" height="50" aria-label="Alarms"></svg></h1>



<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-success d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PlusLg" width="15" height="15" aria-label="Alarms"></svg>
        Adicionar
    </a>
</p>
<div class="table-responsive">
    <table class="table table-info table-striped table-hover opacity-40">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotaFiscal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.CPF)
                    </td>
                    <td class="text-end">


                    <td>
                        <a class="text-decoration-none link-dark btn btn-outline-light" asp-controller="ItensDaVenda" asp-action="Create" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="PlusLg" width="15" height="15" aria-label="Adicionar"></svg>
                            Novo Item
                        </a>
                    </td>


                    <td>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="Pencil" width="15" height="15" aria-label="Alarms"></svg>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="Trash" width="15" height="15" aria-label="Alarms"></svg>
                            Excluir
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
